{% extends 'app/dummy.html' %}
{% block title %}

    <title>SchoolDetail</title>
    {% endblock %}

{% block body_block %}

<center>
    <h1>Detail info of selected instance</h1>
    <h1>Name of the school is {{schoolobj.scname}}</h1>
<h1>loc of the school is {{schoolobj.scloc}}</h1>
<h1>Principal of the school is {{schoolobj.scprincipal}}</h1>
<h1>Details of students is</h1>
{% for STO in schoolobj.students.all %}
        <h1>Name of the student is {{STO.stname}}</h1>
        <h1>Age of the student is {{STO.stage}}</h1>
{% endfor %}

<a href="{% url 'School_Update' pk=schoolobj.pk %}" class="btn btn-danger">School_Update</a>


<a href="{% url 'SchoolDelete' pk=schoolobj.pk %}" class="btn btn-danger">SchoolDelete</a>


</center>
{% endblock %}